html {
  background-color: rgb(255, 255, 255); 
  /* background-image: url('./assets/BGimage.jpg');
  background-size: 100%; */
}
hr{
  color: #b20ee4;
  size:2px;
  width:50%;
}
.landingPage{
  height:100vh;
  width:100vw;
  background:url('./assets/BGimage.jpg');
  background-size: cover;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchLabel {
  font-weight: bold;
  cursor: pointer;
  position: relative;
  color: white;
  padding: 23px 45px;
  /* width: 300px; */
  /* height: 60px; */
  background-color: #b20ee4;
  bottom: 2px;
}
.landingLogo{
  background:white;
  padding:70px;
  width: 25vw;
}
#searchTextInput {
  margin: 30px 5px;
  padding: 20px 10px;
  width: 40vw;
  height: 20px;
  font-family: helvetica;
  font-size: 1.5rem;
}
.hidden{
  display: none;
  /* transition: all 800ms ease-in; */
}
.mid{
  margin: 0 auto;
}

.appWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.innerWrapper{
  height:100vh;
}

.mapInnerWrapper{
  border:3px solid #03e9f5;
  margin-top:100px;
  /* border:orangered 1px solid; */
  margin:0 auto;
  height: 90vh;
  width:95vw;
  position: relative;
}


.Map {
  position: absolute;
  /* border:orangered 1px solid; */
  height: 100%;
  width: 100%; 

}


/* #mapper{
  height:80vh;
  width:100%;
} */

.topBarWrapper{
  height:5vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:1px solid blueviolet; */
}
.logo{
  height:11vh;
  object-fit: contain;
  /* border:red 1px solid; */
  /* margin-left:60px; */
}
.blurb{
  opacity:0.5
}
/* .logoWrapper{
  display: flex;
  justify-content: center;
} */

#load{
  background-image: url('./assets/BGimage.jpg');
  background-size: cover;
  color: blueviolet;
  font-size:.8rem;
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pad{
  height:25%;
}


/* RIGHT-BAR */
.rightWrapper{
  display: flex;
  flex-direction: column;
}
.rightBarTitle{
  /* top:10px; */
  position: relative;
  margin:10px auto;
  line-height: 25px;
  height:25px;
  width:90%;
  background: white;
}

.RightBar {
  /* border:1px solid rgb(0, 195, 255);; */
  text-align: center;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  overflow: scroll;
  float: right;
  top: 2%;
  right: 1%;
  z-index: 5;
  position: relative;
  width: 25%;
  height: 95%;
  background: rgba(249, 250, 250, 0.918);
  /* border:rgb(114, 52, 172) 1px solid; */
}


.listWrapper{
  padding-top:2px;
  /* border-width: 50%; */
  /* top:45px; */
  /* border:4px solid rgb(0, 195, 255); */
  /* position: absolute; */
  overflow: scroll;
  /* height:91%; */
  /* border:chartreuse 1px solid; */
}


.itemWrapper{
  cursor: pointer;
  padding: 0 5px;
  border-bottom:1px solid rgb(0, 195, 255);;
  background: white;
  margin: 0px auto 1px auto;
  /* border:red 1px solid; */
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height:14.5vh;
  max-height:14.5vh;
  width:95%;
  overflow:hidden;
  transition: all 250ms;
}
.itemExpanded{
  /* overflow: scroll; */
  /* cursor: pointer; */
  /* padding: 10px 5px; */
  border:1px solid #b20ee4;
  background: white;
  margin: 10px auto;
  /* border:red 1px solid; */
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* height:520px; */
  height:80vh;
  width:90%;
  transition: all 250ms;
}
.detailsInnerWrap{
  padding: 0 5px;
  margin: 0px auto;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height:120px;
  width:90%;
  transition: all 250ms;
}
.detailsInnerWrapCol{
  padding: 0 5px;
  margin: 20px auto 10px auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height:120px;
  width:90%; */
  transition: all 250ms;
}
.itemImage {
  width: 50px;
  height: 70px;
  object-fit: contain;
  padding: 15px;
}
.itemImageSm{
  margin-top:10px;
  width:40px;
  height: 40px;
  object-fit: contain;
}
.itemDetails{
  line-height:19px;
  /* height:100%; */
  width:100%;
  /* border:chartreuse 1px solid; */
}
.itemName{
  color: #b20ee4;
  font-size: 1rem;
  margin:0px;
}
.itemLoc{
  font-size: .8rem;
  margin:0px;
}
.openingTimes{
  margin:20px auto;
}
.openHoursList{
  font-size: .65rem;
  margin:5px;
}
.itemUsername{
  font-size: .65rem;
  margin:5px;
}
.reviewText{
  font-style: italic;
  width: 80%;
  font-size:.8rem;
  margin: 0 auto;
}
.itemOpen{
  font-weight: bold;
  margin:0px;
  color: rgb(0, 195, 255);
}
.siteDiv{
  width:50%;
  margin:30px auto;
}
.itemSite{
  text-decoration: none;
  /* font-weight: bold; */
  /* margin:35px ; */
  color: rgb(0, 195, 255);
}
.itemSite:hover{
  text-decoration: underline;
}
.starsIcon {
  width: 50%;
  object-fit: contain;
  margin: 0px 0px 15px 0px;
}

.gm-ui-hover-effect {
  opacity: 0;
}

.infoContentName{
  font-size: 2rem;
}

/* 
{
  .App {
    background-color: #282c34;
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
} */


/* .tester{
  border:pink 5px dotted;
} */
.bottomWrapper{
  background:url('./assets/BGimage2.jpg');
  background-size: cover;
  width:100vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.zoom{
  z-index: 5;
  border:#b20ee4 1px solid;
  transform: scale(1.01, 1.018);
  /* transform: scaleX(1.02); */
  transition: all 350ms;
}
.zero {
  margin:0px;
}